<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Syllable Reading</h3>
  </div>
  <div class="panel-body">
      Read the syllables on the screen.
  </div>
  <ul class="list-group">
    <a href="<%- cardRoot; %>/reading.html?block=1" class="list-group-item list-group-item-info">
      Run Block 1
    </a>
    <a href="<%- cardRoot; %>/reading.html?block=2" class="list-group-item list-group-item-info">
      Run Block 2
    </a>
  </ul>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Syllable Repetition</h3>
  </div>
  <div class="panel-body">
      Repeat the syllables that were heard. 
  </div>
  <ul class="list-group">
    <a href="<%- cardRoot; %>/repetition.html?block=1" class="list-group-item list-group-item-info">
      Run Block 1
    </a>
    <a href="<%- cardRoot; %>/repetition.html?block=2" class="list-group-item list-group-item-info">
      Run Block 2
    </a>
  </ul>
</div>